body,
html {
  height: 100%;
}

.cover {
  /* The image used */
  background-image: url("/assets/backgrounds/h_img.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services {
  background-image: url("/assets/backgrounds/s_image.jpg");
}
