@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body,
html {
  font-family: "Poppins", sans-serif;
  height: 100%;
}

.welcome {
  font-weight: 500;
  font-size: 30px;
}

.welcome-sub {
  font-weight: 300;
}

.cover {
  /* The image used */
  background-image: url("/assets/backgrounds/h_img.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mouse {
  animation: bounce 3s infinite;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-100px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

.services {
  background-image: url("/assets/backgrounds/s_image.jpg");
}

.contact {
  background-image: url("/assets/backgrounds/c_image.jpg");
}

.hidden {
  display: none;
  cursor: pointer;
}

.shown {
  cursor: pointer;
}

.hover {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

/* .hover-parent {
} */

.hover-text {
  padding-top: 20px;
  display: none;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  filter: blur(0px);
  color: #242e33d8;
  /* opacity: 0; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
